@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="icon" href="~/images/system/FPT.png" type="image/icon type">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: "Plus Jakarta Sans", sans-serif;
        }
    </style>
</head>
<body>

    <div style="text-align: center;">
        <p style="font-size: 60px; font-weight: 800; color: #F2721E; margin-bottom: 0px;">404</p>
        <p style="font-size: 24px; color: #F2721E; font-weight: 700; margin-bottom: 0px">Page Not Found</p>
        <p style="color: #8F8F8F;">The requested URL was not found on this server.</p>
        <div style="color: #8F8F8F;">
            Contact <a href="mailto:minhbee203@gmail.com" style="color: #F2721E; text-decoration: underline;">tuyendungfpt@fpt.com.vn</a> to get permissions or
            go to the <a href="mailto:minhbee203@gmail.com" style="color: #F2721E; text-decoration: underline;">Home</a>
        </div>
        <img src="~/images/system/404PagenotFound.png" alt="" style="width: 380px; margin: auto;">
    </div>

</body>
</html>
